*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'galiska';
    src: url(/Galiscka\ Font/) format('truetype');
    src: url(/Galiscka\ Font/) format('opentype');
    font-weight: normal;
    font-style: normal;
}


.container {
    display: grid;
    grid-template-columns: 20% 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        
        "snav hero hero"
        "snav about about"
       " . redes    juegos "
       " . manifiesto manifiesto"
       " .  tecnologia tecnologia"
       " . foot foot";
       
        
      
}
.container .about {
    display: flex;
    grid-area: about;
    background: #1a1a1a;
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-family: 'galiska', sans-serif;
    font-size: 1.2em;
}
.container nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-area: snav;
    background: #14121b;
    color: white;
    padding: 10px;
    width: 20%;
    height: 100vh;
    }
    
  .container nav a{
    width: 80%;
    font-family: 'galiska', sans-serif;
    font-size: 3rem;
   background-color: #110606;
   margin: 10px 0; 
   height: 120px;
   display: flex;
   align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;   
    padding: 50px;
    border-radius: 100px;
}

.container nav a:hover{
    background-color: #831b1b;
    transition: 0.3s;
    transform: scale(1.05);
}
 
  

a:visited{ 
    text-decoration: none;
}

.fotonav {
   box-shadow: #2108ff 0px 0px 50px;
    width: 300px;
    height: 300px;  
    border-radius: 50%;
    object-fit:fill;
}
.container .hero {
    grid-area: hero;
    padding: 20px;
  
   
}
.maskedimage{
    mask-image:url(/imagenes/letrasabelv3.svg);
    width: 100%;
    height: 80%;
    mask-size: 100%;
    mask-repeat: no-repeat;
    
}
.container .juegos {
    grid-area: juegos;
    background: #fa3333;    
    padding: 20px;
}
.container .tecnologias {  
    display: flex;  
    flex-direction: column;
    align-items: bottom; 
    gap: 20px;
    grid-area: tecnologia;
    background: #f0a30a;
    background-color: #d1d1d1;
    padding: 20px;
    width: 100%;
    overflow: hidden;
}
.ache2{
    font-family: 'galiska', sans-serif;
    font-size: 3em;
    text-align: center;
    color: #000000;
}
.fotoico {
   width: 300px;
   height: 300px;
   padding-bottom: 3px;
   
}
.fotinfinito{
    display: flex;
   
    animation: animate 10s linear infinite;
}
@keyframes animate { 
    from{transform: translatex(0);}
    to {transform: translatex(-100%);}
        
}

.container .content {
    grid-area: manifiesto;
    background-color: #bc2080;
    padding: 20px;
}
.container .redesycanales {
   grid-area: redes;
    background: #4db330;
    padding: 20px;
}
footer {
    grid-area: foot;;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'galiska', sans-serif;
    font-size: 3em;
    background-color: #000000;
    padding: 20px;
}

H1{
    font-family: 'galiska', sans-serif;
    font-size: 3.5em;  
   }

H1 > span{
    position: relative; 
    display: inline-block;
    color: #ff8800;
    height: 1.25em;
    vertical-align: middle;
    overflow: hidden;
}
h1 > span > span{
    display: block;
    animation: animatewords 5s infinite ease;
    animation-iteration-count: 4;
    animation-delay: 5s;
}
@keyframes animatewords {
    0% { transform: translateY(0); }
    25% { transform: translateY(-100%); }
    50% { transform: translateY(-200%); }
    65% { transform: translateY(-250%); }
    75% { transform: translateY(-300%); }
    100% { transform: translateY(-400%); }
   
}
.hero {
   
}
